.site-header.sticky-top.py-1
{
  background-color:rgb(30,49,87);
  color:white;
  font-size: 15px;
}
#Header
{
  color:white;
}

#ContactForm{
  margin-left: 100px;
  margin-right: 700px;
}

.col-md-5.p-lg-5.mx-auto.my-5
{
  background-color:lightgrey;
  border-radius: 50px;
  opacity:0.8;
  color:black;
  text-align: center;


}

.btn
{
  background-color: black;
}

#button1{
  background-color: rgb(30,49,87);
  border-radius: 10px;
  color: white;
}
#button2{
  background-color: rgb(30,49,87);
  border-radius: 10px;
  color: white;
}
#button3{
  background-color: rgb(30,49,87);
  border-radius: 10px;
  color: white;
}

button {
  font-size: 150%;
}

#button-bar {
  text-align: center;

}

#button-bar button {
  margin-left: 2px;
  margin-right: 2px;
}

.explanation {
  font-size: 125%;
  color: rgb(30,49,87);
  margin-bottom: 6px;
}
